kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: compliance-operator
subjects:
- kind: ServiceAccount
  name: compliance-operator
roleRef:
  kind: Role
  name: compliance-operator
  apiGroup: rbac.authorization.k8s.io
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: compliance-operator
subjects:
- kind: ServiceAccount
  name: compliance-operator
  namespace: openshift-compliance
roleRef:
  kind: ClusterRole
  name: compliance-operator
  apiGroup: rbac.authorization.k8s.io
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: resultscollector
subjects:
- kind: ServiceAccount
  name: resultscollector
roleRef:
  kind: Role
  name: resultscollector
  apiGroup: rbac.authorization.k8s.io
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: remediation-aggregator
subjects:
- kind: ServiceAccount
  name: remediation-aggregator
roleRef:
  kind: Role
  name: remediation-aggregator
  apiGroup: rbac.authorization.k8s.io
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: api-resource-collector
subjects:
- kind: ServiceAccount
  name: api-resource-collector
  namespace: openshift-compliance
roleRef:
  kind: ClusterRole
  name: api-resource-collector
  apiGroup: rbac.authorization.k8s.io
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: api-resource-collector
subjects:
- kind: ServiceAccount
  name: api-resource-collector
roleRef:
  kind: Role
  name: api-resource-collector
  apiGroup: rbac.authorization.k8s.io
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: rerunner
subjects:
- kind: ServiceAccount
  name: rerunner
  namespace: openshift-compliance
roleRef:
  kind: Role
  name: rerunner
  apiGroup: rbac.authorization.k8s.io
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: profileparser
subjects:
- kind: ServiceAccount
  name: profileparser
  namespace: openshift-compliance
roleRef:
  kind: Role
  name: profileparser
  apiGroup: rbac.authorization.k8s.io
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: resultserver
subjects:
- kind: ServiceAccount
  name: resultserver
  namespace: openshift-compliance
roleRef:
  kind: Role
  name: resultserver
  apiGroup: rbac.authorization.k8s.io
